/* -------------- */

.git-img {
    width: 70px;
    height: 70px;
    opacity: .5;
}

.git-img:hover {
    opacity: 1;
    transition: all .3s ease;
}

.git a {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.git-img img {
    height: 100%;
    width: auto;
}