{% extends 'index.html' %}


{% block title %}
Вход
{%  endblock %}

{% block content %}
<form action="", method="POST">
    <button type="submit" class="btn btn-primary btn-lg btn-block">Авторизация вк</button>
</form>

<div class="mt-5">
    <h5>Задача: </h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"> Сделать интеграцию с вк </li>
        <li class="list-group-item"> Выводить 5 друзей пользователя </li>
        <li class="list-group-item"> Сохранять состояние пользователя</li>
    </ul>
</div>


{%  endblock %}


